a.btn {background-color: #48ade7; color: white;}
a.btn:hover {background-color: #3f97ca; color: white;}
a.dark {color: black; text-decoration: underline;}
header.jumbo {height: 406px; background: url('../img/header.jpg') center; text-align: center; padding-top: 70px;}
header h1 {font-size: 35pt; color: #ffffff;}
header h2 {font-size: 18pt;color: #ffae00; font-weight: normal; margin-top: 10px;}
header hr {width: 100px; border-top: 1px solid #424850;}
header p {font-size: 13pt; color: #97a8ca; margin-bottom: 20px;}
section {border-bottom: 1px solid #d1d1d1; padding: 25px 0;}
section:last-of-type {border-bottom: 0;}
section h1 {font-size: 25px;}
section h2 {font-size: 20px;}
.main-logo {text-align: center;}
.main-logo img {margin-bottom: 20px}
footer, #minihack {background-color: #f5f5f5; padding: 40px 0;}
.container { max-width: 960px}

.navbar { margin-bottom: 0; border-radius: 0px; }